body {
    background-color: #b8860b;
}

.nav-link {
    color: #120a8f;
}

.top-end {
    margin-top: 32px;
}

.bottom-end {
    margin-bottom: 32px;
}

.card-body {
    text-align: center;
    background-color: #e9ecef !important;
}

.return-top {
    position: fixed;
    top: 90%;
    -webkit-transform: translateY(-90%);
    -ms-transform: translateY(-90%);
    transform: translateY(-90%);
    margin-left: 5px;
    left: 90%;
    -webkit-transform: translateX(-90%);
    -ms-transform: translateX(-90%);
    transform: translateX(-90%);
}